[submodule "dependencies/uvm-verilator"]
	path = dependencies/uvm-verilator
	url = https://github.com/antmicro/uvm-verilator.git
[submodule "dependencies/chisel"]
	path = dependencies/chisel
	url = https://github.com/chipsalliance/chisel.git
[submodule "dependencies/json"]
	path = dependencies/json
	url = https://github.com/nlohmann/json.git
[submodule "dependencies/difftest"]
	path = dependencies/difftest
	url = https://github.com/OpenXiangShan/difftest.git
[submodule "syn_timing/asic/yosys-sta"]
	path = syn_timing/asic/yosys-sta
	url = https://github.com/OSCPU/yosys-sta.git
