*.*
*
!*/
!Makefile
!*.mk
!*.yml
!*.scala
!*.[cSh]
!*.v
!*.sv
!*.cpp
!*.cc
!*.sh
!*.py
!*.json
!*.xdc
!.gitignore
!.scalafmt.conf
!build.sc
!build.mill
!README.md
!tb/
!tb-GCD/
!constr/
!config/
!poetry.lock
!pyproject.toml
!dependencies/*
# build dir
build/
verilator_obj_dir
tb-GCD/python-tb/sim_build
# dot files
.vscode/
.bloop/
.metals/

# mill
!.mill-version
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/
