*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.sv
!*.cpp
!*.cc
!*.sh
!*.py
!*.json
!*.xdc
!.gitignore
!.scalafmt.conf
!build.sc
!build.mill
!README.md
!tb/
!tb-GCD/
tb-GCD/python-tb/sim_build
!constr/
!config/
!tb-GCD/uvm-tb/uvm-verilator
!poetry.lock
!pyproject.toml
build/
verilator_obj_dir
.vscode/
.bloop/
.metals/

# mill
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/
