*.*
*
!*/
!Makefile
!*.mk
!*.yml
!*.scala
!*.[cSh]
!*.v
!*.sv
!*.cpp
!*.cc
!*.sh
!*.py
!*.json
!*.xdc
!.gitignore
!.scalafmt.conf
!build.sc
!build.mill
!README.md
!tb/
!constr/
!config/
!tb-GCD/uvm-tb/uvm-verilator
!poetry.lock
!pyproject.toml
#tb
tb/tb-GCD/*
!tb/tb-GCD/python-tb/
!tb/tb-GCD/chisel-tb/
!tb/tb-GCD/uvm-tb/
!tb/tb-GCD/cpp-tb/
!tb/tb-GCD/sv-tb/
!tb/tb-GCD/gcd.sby
!*.sby

tb/tb-alu/ALU_basic
vcst_rtdb
vcst_rtdb.bak
# build dir
build/
verilator_obj_dir
tb-GCD/python-tb/sim_build
# dot files
.vscode/
.bloop/
.metals/

# mill
!.mill-version
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/

!timing
!area